.container {
    background-color: #eaeaea;
    padding: 50px;
    border-radius: 5px;
}

.container h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

.container .boxComentarios form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 18px;
}

.container .boxComentarios form input {
    width: 500px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid gray;
}

.container .boxComentarios form button {
    height: 40px;
    font-size: 18px;
    border-radius: 3px;
    border: 1px solid gray;
    cursor: pointer;
}

.container .boxComentarios form button:hover {
    background-color: #e0e0e0;
}

.container .boxComentarios hr {
    margin: 20px auto;
}

.container .boxComentarios p {
    font-size: 18px;
}